<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Nós temos o que você precisa!</h2>
                <hr class="light">
                <p class="text-faded">Faça seu cadastro agora automáticamente, e nosso agente irá entrar em contato com você para instruções detalhadas e sanar qualquer dúvida.!</p>
                <a href="https://api.rapport.tec.br" class="btn btn-default btn-xl">Inície Agora!</a>
            </div>
        </div>
    </div>
</section>
