<section id="sobre-a-rapport" class="company-intro bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Tecnologia para transformar desafios em soluções</h2>
        <hr class="light">
        <p class="text-faded">A Rapport Tecnologia desenvolve softwares especializados e soluções de fronteira que combinam hardware, sistemas embarcados, IoT, inteligência artificial, blockchain e capacitação técnica. Da manutenção preditiva de transformadores à inteligência artificial agêntica e aos ativos digitais, criamos tecnologia integrada para aumentar a confiabilidade, a eficiência e o impacto dos nossos clientes.</p>
        <a href="{{ '/servicos-rapport/' | relative_url }}" class="btn btn-default btn-xl">Conhecer mais</a>
      </div>
    </div>
  </div>
</section>
