<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Vamos começar!</h2>
                <hr class="primary">
                <p>Pronto para iniciar seu prórixmo projeto de marketing e interação com seus clientes? Você pode entrar em contato com a gente de diversas formas, via e-mails, Whatsapp ou mesmo um bom bate papo pelo telefone, você escolhe a forma.</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
                <script src="https://whatsa.me/bt-min.js?link=https://whatsa.me/5585985205490/?t=Ol%C3%A1,%20gostaria%20de%20saber%20mais%20sobre%20o%20Rapport%20Bot/API%20e%20sobre%20o%20Rapport%20Site."></script>
        </div>
        <div>
            <script src="https://whatsa.me/bt-min.js?link=https://whatsa.me/5555991257722/?t=Me%20mande%20informa%C3%A7%C3%B5es%20sobre%20Contratos%20e%20as%20%C3%BAltimas%20promo%C3%A7%C3%B5es."></script>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://Atualizando as formas de Contato.
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>

    </div>
</section>
