<section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Vamos Começar!</h2>
          <hr class="primary">
          <p>Entre em contato conosco através de um dos seguintes canais:</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 text-center">
          <i class="fa fa-envelope fa-5x wow bounceIn" data-wow-delay=".1s" aria-hidden="true"></i>
          <p><a href="mailto:email@empresa.com">{{ site.email }}</a></p>
        </div>
        <div class="col-lg-4 text-center">
          <i class="fa fa-github fa-5x wow bounceIn" data-wow-delay=".2s" aria-hidden="true"></i>
          <p><a href="https://github.com/usuario" target="_blank">github.com/{{ site.github_username }}</a></p>
        </div>
        <div class="col-lg-4 text-center">
          <i class="fa fa-whatsapp fa-5x wow bounceIn" data-wow-delay=".3s" aria-hidden="true"></i>
          <p><a href="https://wa.me/5585985205490" target="_blank">WhatsApp: {{ site.whatsapp }}</a></p>
        </div>
      </div>
    </div>
  </section>
  