<footer class="footer footer-custom">
  <div class="container">
    <div class="row">
      {% for column in site.data.nav.columns %}
        <div class="col-md-3 col-sm-6">
          <h4>{{ column.title }}</h4>
          <ul class="list-unstyled">
            {% if column.dynamic and column.collection %}
              {% assign collection_items = site[column.collection] %}
              {% for item in collection_items %}
                <li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
              {% endfor %}
            {% else %}
              {% for link in column.links %}
                <li><a href="{{ link.url | relative_url }}">{{ link.title }}</a></li>
              {% endfor %}
            {% endif %}
          </ul>
        </div>
      {% endfor %}
    </div>

    <!-- Direitos Autorais -->
    <div class="row">
      <div class="col-md-12 text-center">
        <p><i class="fa fa-lock"></i> Seus dados com total confidencialidade de acordo com as normas da <a href="{{ '/lgpd' | relative_url }}">LGPD (Lei 13.709/2018)</a></p>
        <p class="copyright">
          © {{ "now" | date: "%Y" }} Rapport é um projeto da Árvore dos Saberes, executado por 
          <a href="http://carlosdelfino.eti.br" target="_blank">Carlos Delfino</a>.
        </p>
      </div>
    </div>
  </div>
</footer>
