<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Modernidade - Desempenho - Personalidade</h1>
            <hr>
            <p>Comece agora a construir um melhor relacionamento com seus clientes, desenvolvemos soluções de comunicação eficientes através de whatsapp automatizando com tecnológias de ponta como FSM-NLP, GPT e outros LLMs</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Se Cadastre Agora!</a>
        </div>
    </div>
</header>
