<section id="portfolio" class="bg-light-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Nosso Portfólio</h2>
          <h3 class="section-subheading text-muted">Confira alguns dos nossos projetos.</h3>
        </div>
      </div>
      <div class="row">
        <!-- Rapport OS -->
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="{{ '/projetos/rapport-os' | relative_url }}" class="portfolio-link">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="img/portfolio/project1.png" class="img-responsive" alt="Rapport OS">
          </a>
          <div class="portfolio-caption">
            <h4>Rapport OS</h4>
            <p class="text-muted">O Rapport OS é o sistema operacional que suporta toda a infraestrutura dos serviços Rapport. Baseado no Linux, ele é otimizado para alta performance e execução de servidores e serviços essenciais.</p>
          </div>
        </div>
  
        <!-- Rapport Site -->
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="{{ '/projetos/rapport-site' | relative_url }}" class="portfolio-link">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="img/portfolio/project2.png" class="img-responsive" alt="Rapport Site">
          </a>
          <div class="portfolio-caption">
            <h4>Rapport Site</h4>
            <p class="text-muted">O Rapport Site oferece um serviço completo de hospedagem e criação de sites, ajudando a refletir a identidade visual e ampliar a presença digital do cliente.</p>
          </div>
        </div>
  
        <!-- Rapport Bot -->
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="{{ '/projetos/rapport-bot' | relative_url }}" class="portfolio-link">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="img/portfolio/project3.png" class="img-responsive" alt="Rapport Bot">
          </a>
          <div class="portfolio-caption">
            <h4>Rapport Bot</h4>
            <p class="text-muted">O Rapport Bot automatiza a interação entre empresas e clientes, atuando como um assistente virtual que facilita o suporte e a comunicação em tempo real.</p>
          </div>
        </div>
  
        <!-- Rapport API -->
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="{{ '/projetos/rapport-api' | relative_url }}" class="portfolio-link">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="img/portfolio/project4.png" class="img-responsive" alt="Rapport API">
          </a>
          <div class="portfolio-caption">
            <h4>Rapport API</h4>
            <p class="text-muted">A Rapport API integra o Rapport Bot com plataformas de comunicação como WhatsApp e CRM, permitindo uma comunicação automatizada e eficaz com clientes.</p>
          </div>
        </div>
  
        <!-- Consultoria -->
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="{{ '/projetos/consultoria' | relative_url }}" class="portfolio-link">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="img/portfolio/project5.png" class="img-responsive" alt="Consultoria">
          </a>
          <div class="portfolio-caption">
            <h4>Consultoria</h4>
            <p class="text-muted">A consultoria da Rapport oferece suporte personalizado para maximizar o uso dos serviços, garantindo sucesso com base em mais de 35 anos de experiência no mercado.</p>
          </div>
        </div>
  
        <!-- O Cliente -->
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="{{ '/projetos/o-cliente' | relative_url }}" class="portfolio-link">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="img/portfolio/project6.png" class="img-responsive" alt="O Cliente">
          </a>
          <div class="portfolio-caption">
            <h4>O Cliente</h4>
            <p class="text-muted">O cliente é o foco de todas as operações da Rapport, e todos os esforços são dedicados para garantir que cada projeto atenda às necessidades e expectativas do cliente.</p>
          </div>
        </div>
  
      </div>
    </div>
  </section>
  