<section id="portfolio" class="bg-light-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Nosso Portfólio</h2>
          <h3 class="section-subheading text-muted">Confira alguns dos nossos projetos.</h3>
        </div>
      </div>
      <div class="row">
        <!-- Loop sobre a coleção de portfolio -->
        {% for project in site.portfolio %}
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="{% if project.external_url %}{{ project.external_url }}{% else %}{{ project.url | relative_url }}{% endif %}" class="portfolio-link" {% if project.external_url %}target="_blank" rel="noopener noreferrer"{% endif %}>
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="{% if project.image contains 'http' %}{{ project.image }}{% else %}{{ site.baseurl }}/img/portfolio/{{ project.image }}{% endif %}" class="img-responsive" alt="{{ project.title }}">
          </a>
          <div class="portfolio-caption">
            <h4>{{ project.title }}</h4>
            <p class="text-muted">{{ project.description }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  