---
layout: default
---
  <!-- Conteúdo -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">

        <!-- Conteúdo Detalhado do Projeto -->
        <div class="project-content">
          {{ content }}
        </div>
      </div>
    </div>
  </div>

  {% if page.portfolio_collection %}
    {% include portfolio.html
       collection=page.portfolio_collection
       section_id=page.portfolio_section_id
       title=page.portfolio_title
       subtitle=page.portfolio_subtitle
       sort_by=page.portfolio_sort_by %}
  {% endif %}
